


/* html tags */
header{
    background-color: darkgrey;
    text-align: center;
    transition: .5s ease;
    width:100%;
    height:100px;
}

header:hover{
    background-color:grey;
}

main{
    background-color:ghostwhite;

}

footer{
    background-color: darkgrey;
    text-align: center;
    transition: .5s ease;
}

footer:hover{
    background-color:grey;
}



/* classes */
.navbar{
    background-color:lightgray !important;
    width:100%;
    z-index:2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + main{
    padding-top: 60px;
}

.form-control{
    width: 75%
}

.arrow{
    margin-left:7%;
    margin-bottom:10px;
    cursor: pointer;
}

.shop{
    margin-right:7%;
    background-color:#dddddd;
    height:38px;
}

.row{
    text-align:center;
}

.items-container{
    width:70%;
    padding-top:15px;
}

.big{
    width:100% !important;
}

.img-fluid{
    height:100%;
}

.logo-footer{
    max-height:90px;
}

.contact{
    text-decoration: none;
    color: white;
    transition: .5s ease;
}

.contact:hover{
    text-decoration: none;
    color: black;
}



/* media queries */
@media screen and (max-width: 575px) {
    .only-big{
        display:none;
    }

    .home{
        margin-left: 0;
    }
}
